In [1]:
import pandas as pd
import numpy as np

In [45]:
import app_utils as u
#For reload at development time
from imp import reload
reload(u);

In [18]:
df_train = pd.read_csv('data/dbpedia/train.csv.gz',header=None)
df_train.columns = ['class','name','description']
df_train.head()

,class,name,description
0,1,E. D. Abbott Ltd,Abbott of Farnham E D Abbott Limited was a Br...
1,1,Schwan-Stabilo,Schwan-STABILO is a German maker of pens for ...
2,1,Q-workshop,Q-workshop is a Polish company located in Poz...
3,1,Marvell Software Solutions Israel,Marvell Software Solutions Israel known as RA...
4,1,Bergan Mercy Medical Center,Bergan Mercy Medical Center is a hospital loc...

In [39]:
classes_df = pd.read_csv('data/dbpedia/classes.txt')
classes_df.head()
classes = classes_df.Company.values

In [41]:
embeddings,word_index = u.load_embeddings()
embeddings.shape

(400000, 50)

In [42]:
class_embeddings = u.get_category_embeddings(classes,word_index,embeddings)
class_embeddings.shape

(13, 50)

In [51]:
# Define a local method to make it easy to calculate category given the expense
def get_category_idx(description):
    return u.get_category_idx(description,word_index,embeddings,class_embeddings)

In [62]:
train_predictions = df_train.head(1000).apply(lambda row:get_category_idx(row['name']),axis=1).values

/Users/mabbas/Aurora/ml/app_utils.py:53: RuntimeWarning: invalid value encountered in true_divide
  return embed/np.linalg.norm(embed)

In [63]:
train_predictions

array([12,  0,  0,  0,  0, 12,  6,  0,  9,  4,  0,  0, 10,  5,  4, 12,  9,
        0,  3, 12,  4, 12,  6,  5,  4,  7,  0,  0, 12,  0,  6,  0,  4,  4,
        4,  4,  0,  4, 10, 11, 12, 11, 12,  6,  4,  9,  0,  0,  9,  6,  9,
        9,  6,  4,  0,  4,  0, 11, 11,  0,  4,  3,  3,  3,  4,  0,  7,  0,
        9,  0,  4,  0,  0,  7,  9,  5,  3,  4,  9,  4,  0,  0,  3,  0,  9,
       10,  4,  6, 10, 10,  0,  4,  4,  4,  4,  2,  4,  5,  3,  0,  7,  4,
       12,  0,  0,  4,  0,  0,  6,  0,  4,  4,  3,  9, 12, 10, 12, 10,  5,
        9,  3,  4,  4,  0,  0,  0,  6, 12,  9,  4,  4,  5,  0,  0,  0,  1,
        0,  6,  0,  5, 12, 11,  6,  4,  6,  6,  8,  4,  0,  0, 12, 12,  8,
        4, 12,  7,  4, 12, 11,  4,  4,  6, 11,  0,  0,  0,  4,  4,  6,  0,
        0,  9,  0,  6, 12,  4,  4,  9,  4,  0,  0,  0,  4,  0,  4, 10,  9,
        4, 10,  8,  5,  0,  0,  4,  9,  6,  6,  7,  2,  4,  3, 12,  9, 10,
        0,  3,  0, 12, 10,  1,  5, 12, 10,  4,  0,  4,  4, 10,  6,  0,  0,
        4, 12,  7, 10,  9,  0, 12, 12,  9,  9,  9,  4, 12,  0, 10,  9,  4,
        7, 12, 11,  0,  0,  4,  4, 12,  4,  4,  4,  0, 10,  3,  4,  8,  4,
        6,  0,  3,  0,  1, 11,  4, 10,  4,  3,  9,  9,  0,  9,  5,  0,  7,
        0,  0,  6,  0,  6,  4,  4,  0,  4, 10,  4,  9, 10,  6,  1,  0, 10,
        5,  0, 11, 11,  0,  0,  0,  1, 10, 10,  6,  4, 12,  1,  4,  0,  8,
        4,  0,  0,  8,  4,  5, 10,  4,  8, 10,  6,  7,  9, 11,  2,  9,  9,
        0, 11,  0,  4,  4,  4,  3, 10,  2,  0, 10,  4, 10,  6,  4,  0, 10,
        0,  9,  4, 10,  9,  4, 12,  4,  4, 10,  0,  4,  4,  5,  4,  0, 11,
        4,  1,  9,  0,  9,  4,  9,  4,  0,  8, 12,  4,  0,  8,  0,  9,  4,
        6,  0,  4, 11,  0,  0,  9,  0,  0,  4,  0,  5,  0,  9,  0,  6,  4,
        0,  5, 12, 10, 11,  4,  6,  0,  0,  0, 12,  4, 10,  6, 10,  3,  4,
       12,  4,  0,  6,  4,  0,  4,  6,  9,  6,  0,  0,  0,  7,  4,  0, 11,
        3,  0,  0,  5, 11, 11,  4, 11,  0,  0,  0,  6, 11,  0,  3,  0,  0,
        0,  6,  9,  9,  6,  4,  0,  4, 11,  7,  8,  0,  6,  3,  4,  4,  4,
        9,  0,  4,  0,  4,  1,  0,  0,  0,  4,  4,  4,  4, 10,  5, 12,  0,
       11,  9,  9,  4,  0,  9,  6,  0,  4,  6,  0, 10, 10,  4,  9, 11,  9,
        4, 10,  4,  4, 11,  6, 10,  4,  3, 11,  4,  0,  4,  0,  4,  0,  4,
       12,  9,  0,  3,  9,  4,  5,  4,  9,  9,  0, 12,  4,  0,  0,  0,  0,
       12,  9,  9,  0,  0,  0,  5,  4, 12, 10, 10,  4,  9, 12,  5,  0,  4,
        4,  3,  0, 10,  4, 10,  0,  4,  7,  4,  4,  9,  4,  0,  0,  0,  9,
        0,  0,  0,  9,  5,  4, 12, 10,  0, 11,  0,  4,  0,  0,  4, 11,  4,
       11, 10,  7,  4,  4, 11,  0, 11,  0,  9,  4,  4,  0,  4,  9,  0,  9,
        9,  9,  0,  5, 10,  0,  0,  0,  0,  6,  0,  9, 12,  4,  0,  4,  6,
        7, 11,  0, 11,  4,  4,  4,  0,  4,  4,  0,  0,  8,  6,  9, 10,  4,
        0,  6, 11,  9,  1, 11, 12, 12,  4,  3, 12,  9, 12,  0, 11,  0,  3,
        5, 11,  0, 12,  5,  4,  4,  7, 10, 11,  5,  6,  4,  4,  4,  7, 10,
        0, 10,  4, 12,  3,  5,  0,  0,  4,  0,  2,  5, 10,  2,  5,  6, 12,
        6,  3,  9,  5,  0,  0,  6,  4,  4,  9,  0,  6,  0, 10,  0, 10,  4,
        4, 10,  0,  0,  9,  4,  9, 12,  0,  4, 12,  9,  5, 11,  7,  6,  0,
        6,  2, 12,  8, 10,  9,  2,  7,  0,  4, 12, 11,  4,  5, 12,  4,  4,
        9,  0,  4, 10, 12,  0, 11,  1,  0,  0,  1, 12,  0,  4,  9,  4,  4,
       12,  6,  9,  9,  9,  6, 11, 10,  6,  4,  3,  5,  4, 10,  4,  0, 11,
       11,  0,  0,  4,  0, 10,  6,  7,  9,  0,  0,  4,  0, 11,  4,  0,  6,
        4,  4,  9,  0,  0,  0,  0,  1,  4,  6,  0,  9,  4,  5,  4,  0,  6,
       11,  4, 11,  6,  7,  4,  4,  0, 11,  0,  9,  4,  0,  9,  0, 11, 10,
        5,  0, 12,  1,  4,  9,  0,  4,  4,  0,  9,  6,  4, 10,  9,  4, 12,
        9,  7,  9,  4,  4,  0,  0,  5,  4,  0,  4,  9, 12,  0,  0,  4,  9,
        0,  0,  0,  4, 11, 10,  4,  0,  6,  5,  5,  0,  4,  0,  0,  4,  4,
        6,  6, 10, 10,  0,  4,  3,  0,  3,  9,  7,  8,  0,  4,  4,  4,  4,
        4, 12,  4,  0,  4,  0,  8, 10, 12,  9, 12,  4,  1,  9,  0,  0,  6,
        6,  6,  4, 12,  0,  4,  9, 10,  4,  4, 12,  0, 12,  8,  0, 11,  6,
        0,  0, 10,  8,  6, 12,  0,  0,  2,  3,  5,  4, 12, 10,  6,  3,  4,
       10,  9, 10, 10,  4,  4, 12,  9,  4, 10,  4,  6,  0, 10,  4,  6, 12,
        6, 12,  5,  4, 11,  0,  0,  9,  0, 10,  6,  1,  6, 10,  0,  4,  4,
       11,  0,  9,  0,  9, 12, 10,  4, 11,  9,  4, 12, 12,  5,  7,  0,  0,
       12,  0,  4, 11,  6,  4, 11,  6,  0,  0,  4,  0, 10,  3])

In [64]:
df_train['class'].values

array([ 1,  1,  1, ..., 14, 14, 14])

In [ ]:
u.analyze_predictions(classes,df_train['class'].values,train_predictions)